<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/img/logo-white.png"> {{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.twitter }}"><i class="fab fa-btn fa-twitter"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.facebook }}"><i class="fab fa-btn fa-facebook"></i></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>