<div class="widget">
  <div class="container">

    <div class="card">
      <div class="card-body">
        <h3>Search for companies or people blacklisted by {{ site.list_author }}</h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="button-search" disabled>
          <div class="input-group-append">
            <button class="btn btn-default" type="button" id="button-search" disabled>
              <i class="fa fa-btn fa-spinner fa-pulse"></i>
            </button>
          </div>
        </div><!-- /input-group -->
        <p class="examples text-muted"><small>Examples: <span></span></small></p>
        <hr/>

        <div class="results hidden">
          <ul class="results-list list-group"></ul>
          <hr/>
        </div>

        <p class="small"><em>Data sourced from <a href="{{ site.list_source[0].url }}" target="_blank" rel="noopener noreferrer">{{ site.list_source[0].title }}({{ site.list_source[0].last_updated }})</a>.</em></p>

        <p class="text-center small">[
          <a href="{{ site.url }}" target="_blank" rel="noopener noreferrer">
            {{ site.title }}
          </a>
        ]</p>
      </div> <!-- /.panel-body -->
    </div> <!-- /.panel -->

  </div> <!-- /.container -->
</div> <!-- /.widget -->
